{% extends 'music/base.html' %}
{% block title %}{% endblock %}
{% block seller_active %}active{% endblock %}

{% block body %}
<div class="container-fluid songs-container">
    <div class="row">
        <div class="col-sm-12">

                        <table class="table">

                        <td>
                        {% if seller.BookSet_Photo %}
                            <img src="{{ seller.BookSet_Photo.url }}" class="img-responsive" style="width: 400px; float: left; margin-right: 200px;"/>
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                        </td>



            <td>
                <div class="row">
           <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">

                        <table class="table">
                                <tr>
                                    <th>Branch and Semester</th>
                                    <td>{{ seller.Key }}</td>
                                </tr>

                                <tr>
                                    <th>Subjects</th>
                                    <td>{{ seller.Subjects }}</td>
                                </tr>

                                <tr>
                                    <th>Description</th>
                                    <td>{{ seller.Description }}</td>
                                </tr>

                                <tr>
                                    <th>Total Price</th>
                                    <td>{{ seller.Total_Price }}</td>
                                </tr>
                        </table>
                </div>
            </div>
                            </div>

            </td>

                        </table>

        </div>
    </div>



</div>

{% endblock %}
