{% extends 'music/base.html' %}
{% block title %}Add a New Set{% endblock %}
{% block seller_active %}active{% endblock %}

{% block body %}

{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/html">

<head>
    <div><title>Chat Panel</title></div>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'chat.css' %}">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
</head>

<body>

    <div id="chat-body" class="panel panel-default">
        <div class="panel-heading">Chat Box with {{ seller.user.username }}</div>
        <div id="msg-list-div" class="panel-body">
            <ul id="msg-list" class="list-group">
              
                {% for obj in chat %}
                        {% if obj.user == request.user %}
                        <li class="text-left list-group-item" style="font-size:20px;color:green"><p align="right">{{ obj.message }}</p></li>
                            {% else %}
                        <li class="text-left list-group-item" style="font-size:20px;color:red">{{ obj.message }}</li>
                        {%endif%}   
                        {% empty %}
                        <li class="text-right list-group-item"><center>No Messages Yet..!</center></li>
                {% endfor %}
                <script>
                    var chatlist = document.getElementById('msg-list-div');
                    chatlist.scrollTop = chatlist.scrollHeight;
                </script>
            </ul>

           

        </div>
    </div>



    <form id="chat-form" method="post" action="/post/">
        <div id="chat-bottom" class="input-group">
            <input type="text" id="chat-msg" name="chat-msg" class="form-control"/>
            <span class="input-group-btn">
            <div>
                <input class="btn btn-primary" id="send" type="submit" value="Send"/>
            </div>

            </span>
        </div>
    </form>
</body>
<script src="{% static 'chat.js' %}"></script>
</html>

{% endblock %}
