<!DOCTYPE html>
<html lang="en">
<head>
	<title>BoOkLanD</title>
	{% load staticfiles %}

{% load staticfiles %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="music/image/png" href="{% static 'music/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'music/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'music/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'music/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'music/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'music/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'music/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'music/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="{% static 'music/images/img-01.jpg' %}" alt="IMG">
				</div>

				 {% if error_message %}
					<p><strong>{{ error_message }}</strong></p>
					{% endif %}
					 <form class="form-horizontal" role="form" action="{% url 'login_user'%}" method="post" enctype="multipart/form-data">
					{% csrf_token %}
				<form class="login100-form validate-form">
					<span class="login100-form-title">
						Member Login
					</span>



						 <div class="form-group">
							  <label class="control-label col-sm-2" for="id_username">
                                Username:
                            </label>
					<div class="wrap-input100 validate-input" data-validate = "Username is required">
						 <input id="id_username" class="input100" name="username" type="username">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>
						 </div>
						 <div class="form-group">
							  <label class="control-label col-sm-2" for="id_password">
                                Password:
                            </label>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						 <input id="id_password" class="input100" name="password" type="password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
						 </div>
					<div class="form-group">
					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Login
						</button>
					</div>
					</div>
					 </form>

					 <div class="panel-footer">
						Don't have an account? <a href="{% url 'register' %}">Click here</a> to register.
                					</div>


				</form>
			</div>
		</div>
	</div>


<!--===============================================================================================-->
	<script src="{% static 'music/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'music/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'music/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'music/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'music/vendor/tilt/tilt.jquery.min.js' %}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'music/js/main.js' %}"></script>

</body>
</html>
